<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="daProviders" type="ADO.Query.Helper.DataAccessSectionHandler, ADO.Query" />
  </configSections>

  <daProviders>
    <daProvider alias="MockAdoHelper" type="ADO.Query.Test.AdoMocks.MockQueryRunner, ADO.Query.Test" connectionStringName="DBConnection" />
    <daProvider alias="SqlAdoHelper" type="ADO.Query.Helper.MsSql, ADO.Query" connectionStringName="DBLocalConnection" />
  </daProviders>

  <connectionStrings>
    <add name="DBConnection" connectionString="" />
    <add name="DBLocalConnection" 
         connectionString="Data Source=(LocalDb)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Database\QueryTest.mdf"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>