<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="daProvider" type="ADO.Query.Helper.DataAccessSectionHandler, ADO.Query" />
  </configSections>

  <daProvider>
    <daProvider alias="MockAdoHelper" type="ADO.Query.Test.AdoMocks.AdoMockHelper, ADO.Query.Test" connectionStringName="DBConnection" />
  </daProvider>

  <connectionStrings>
    <add name="DBConnection" connectionString="" />
  </connectionStrings>

</configuration>